body {
  background-color: #1f1e1e;
  font-family: 'Raleway', sans-serif;
  color: #f0f0f0;
}

.about {
  font-family: 'Yatra One', sans-serif;
  margin-left: 51px;
}

.top-nav {
  position: absolute;
  top: 60px;
  right: 60px;
}

.top-navigation {
  position: absolute;
  top: 50px;
  right: 60px;
}

.navigation {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  margin-left: 25px;
  font-size: 25px;
  color: #f0f0f0;
  font-weight: 300;
  display: inline-block;
  transition: transform 0.5s ease, color 0.5s ease;
}

.navigation:hover {
  transform: scale(1.1);    
  cursor: pointer;     
  text-shadow: 0 0 20px rgb(121, 174, 253);   
}

.objective {
  text-align: justify;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  color: #f0f0f0;
}

.obj {
  margin-bottom: 40px;
  margin-right: 40px;
}

.obj_a {
  display: flex;
  margin-right: 90px;
  margin-left: 110px;
}

.obj_b {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: #3b3a3a6e;
  box-shadow: 0 0 20px rgb(131, 169, 226);
  border: 2px solid #0000004f;
  color: #f0f0f0;
  border-radius: 10px;
  position: relative;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}