body {
  background-image: linear-gradient(to bottom right,#8ccbe4, #a1b9c5, #8cc8de, #8ccbe4, #a1b9c5, #99ddf4);
  font-family: 'Raleway', sans-serif;
}

.about {
  font-family: 'Yatra One', sans-serif;
  margin-left: 51px;
  font-size: 25px;
  margin-top: 60px;
}

.sticker {
  height: 60px;
  width: 60px;
}

.top-navigation {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #8ccbe4, #bce5f2, #8ccbe4);
}

.myProfile {
  font-size: 24px;
  font-family: 'Merienda',sans-serif;
  margin: 0;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.navigation {
  font-family: 'Concert One', sans-serif;
  text-decoration: none;
  margin-left: 26px;
  font-size: 20px;
  color: #272727;
  font-weight: 300;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navigation:hover {
  transform: scale(1.1);    
  cursor: pointer;
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;
  color: #272727;
}

.objective {
  text-align: justify;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

.obj {
  margin-bottom: 40px;
  margin-right: 40px;
}

.obj_a {
  display: flex;
  margin-right: 90px;
  margin-left: 110px;
}

.obj_b {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgb(65, 141, 254);
  border: 2px solid rgba(36, 36, 36, 0.3);
  border-radius: 10px;
  position: relative;
  color: #000000;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.copyright {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.switchmode {
  margin-left: 26px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.switchmode:hover {
  transform: scale(1.1);    
  cursor: pointer;
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;
}

.hr-lower {
  border: 1px solid rgb(158, 197, 245)
}



/* Dark Mode */
.dark {
  background-image: linear-gradient(#1f1e1e);
  font-family: 'Raleway', sans-serif;
  color: #f0f0f0;
}

.dark .top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #1f1e1e, #6f6d6d, #1f1e1e);
}

.dark .myProfile {
  font-size: 24px;
  font-family: 'Merienda',sans-serif;
  color: #f0f0f0;
  margin: 0;
}

.dark .navigation {
  font-family: 'Concert One', sans-serif;
  text-decoration: none;
  margin-left: 26px;
  font-size: 20px;
  color: #f0f0f0;
  font-weight: 300;
  transition: transform 0.3s ease, color 0.3s ease;
}

.dark .navigation:hover {
  transform: scale(1.1);    
  cursor: pointer;     
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;   
}

.dark .objective {
  text-align: justify;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  color: #f0f0f0;
}

.dark .obj_b {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: #3b3a3a6e;
  box-shadow: 0 0 20px rgb(131, 169, 226);
  border: 2px solid #0000004f;
  color: #f0f0f0;
  border-radius: 10px;
  position: relative;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.dark .switchmode {
  margin-left: 26px;
  border: none;
  color: #f0f0f0;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.dark .hr-lower {
  border: 1px solid rgb(39, 39, 40);
}