body {
  background-image: linear-gradient(to bottom right,#99ddf4, #a1b9c5, #8cc8de, #8ccbe4, #a1b9c5, #99ddf4);
  font-family: 'Raleway', sans-serif;
}

.projects {
  margin-left: 50px;
}

.hr-upper {
  border: 2px solid rgb(38, 37, 37); 
  margin-left: 50px; 
  margin-right: 40px;
}

.profile-row {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.sticker {
  height: 50px;
  width: 50px;
}

.top-navigation {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #8ccbe4, #bce5f2, #8ccbe4);
}

.myProfile {
  font-size: 24px;
  font-family: 'Merienda',sans-serif;
  margin: 0;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.navigation {
  font-family: 'Concert One', sans-serif;
  text-decoration: none;
  margin-left: 26px;
  font-size: 20px;
  color: #272727;
  font-weight: 300;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navigation:hover {
  transform: scale(1.1);    
  cursor: pointer;
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;
  color: #272727;
}

.educbg {
  font-family: 'Yatra One', sans-serif;
  margin-left: 51px;
  font-size: 25px;
  margin-top: 60px;
}

.education {
  margin-bottom: 40px;
  margin-right: 40px;
}

.education_a {
  margin-right: 115px;
  margin-left: 150px;
}

.tertiary {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgb(65, 141, 254);
  border: 2px solid rgba(36, 36, 36, 0.3);
  border-radius: 8px;
  overflow: hidden;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.secondary {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgb(65, 141, 254);
  border: 2px solid rgba(36, 36, 36, 0.3);
  border-radius: 8px;
  overflow: hidden;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.primary {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgb(65, 141, 254);
  border: 2px solid rgba(36, 36, 36, 0.3);
  border-radius: 8px;
  overflow: hidden;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.proj {
  margin-bottom: 40px;
}

.proj_a {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  margin-right: 60px;
  margin-left: 110px;
}

.proj_b {
  flex: 1;
  min-width: 120px;
  max-width: 400px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgb(65, 141, 254);
  border: 2px solid rgba(36, 36, 36, 0.3);
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  color: #000000;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.details {
  font-weight: normal;
  margin-left: 220px;
}

.personalButton {
  font-family: 'Merienda', sans-serif;
  font-size: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #5aa7c0;
  border-radius: 100px;
  transition: transform 0.7s ease, color 0.7s ease;
    
  box-shadow:
    0 3px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.personalButton:hover {
  background-image: linear-gradient(to bottom right, #81b9cb, #bfe5f7, #81b9cb);
  transform: scale(1.08);    
  cursor: pointer;    
}

.personalButton a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.language {
  margin-left: 30px;
}

.bullet {
  margin-left: 60px;
}

.copyright {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.switchmode {
  margin-left: 26px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.switchmode:hover {
  transform: scale(1.1);    
  cursor: pointer;
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;
}

.hr-lower {
  border: 1px solid rgb(158, 197, 245)
}


/* Dark Mode */
.dark {
  background-image: linear-gradient(#1f1e1e);
  font-family: 'Raleway', sans-serif;
  color: #f0f0f0;
}

.dark .hr-upper {
  border: 2px solid rgb(163, 161, 161); 
  margin-left: 50px; 
  margin-right: 40px;
}

.dark .sticker {
  height: 50px;
  width: 50px;
}

.dark .top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #1f1e1e, #6f6d6d, #1f1e1e);
}

.dark .myProfile {
  font-size: 24px;
  font-family: 'Merienda',sans-serif;
  color: #f0f0f0;
  margin: 0;
}

.dark .navigation {
  font-family: 'Concert One', sans-serif;
  text-decoration: none;
  margin-left: 26px;
  font-size: 20px;
  color: #f0f0f0;
  font-weight: 300;
  transition: transform 0.3s ease, color 0.3s ease;
}

.dark .navigation:hover {
  transform: scale(1.1);    
  cursor: pointer;     
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;   
}

.dark .tertiary {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: #3b3a3a6e;
  box-shadow: 0 0 20px rgb(131, 169, 226);
  border: 2px solid #0000004f;
  color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.dark .secondary {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: #3b3a3a6e;
  box-shadow: 0 0 20px rgb(131, 169, 226);
  border: 2px solid #0000004f;
  color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.dark .primary {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: #3b3a3a6e;
  box-shadow: 0 0 20px rgb(131, 169, 226);
  border: 2px solid #0000004f;
  color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.dark .proj_b {
  flex: 1;
  min-width: 120px;
  max-width: 400px;
  height: auto;
  background-color: #3b3a3a6e;
  box-shadow: 0 0 20px rgb(131, 169, 226);
  border: 2px solid #0000004f;
  color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.dark .personalButton {
  font-family: 'Merienda', sans-serif;
  font-size: 20px;
  padding: 10px;
  background: #1d1e1e;
  border: 2px solid #66627f4f;
  border-radius: 100px;
  transition: transform 0.7s ease, color 0.7s ease;
    
  box-shadow:
    0 3px 2.2px rgba(166, 177, 247, 0.034),
    0 6.7px 5.3px rgba(148, 158, 239, 0.034),
    0 12.5px 10px rgba(128, 145, 253, 0.034),
    0 22.3px 17.9px rgba(166, 177, 247, 0.034),
    0 41.8px 33.4px rgba(166, 177, 247, 0.034),
    0 100px 80px rgba(121, 130, 190, 0.034);
}

.dark .personalButton:hover {
  background-image: radial-gradient(circle, #0d0e0e 0%, #151516 40%, #83a9e2 200%); 
  transform: scale(1.08);    
  cursor: pointer;  
}

.dark .personalButton a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 600;
}

.dark .switchmode {
  margin-left: 26px;
  border: none;
  color: #f0f0f0;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.dark .hr-lower {
  border: 1px solid rgb(39, 39, 40);
}