body {
  background-image: linear-gradient(to bottom right,#8ccbe4, #a1b9c5, #8cc8de, #8ccbe4, #a1b9c5, #99ddf4);
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Concert One', sans-serif;
  color: #222121;
}

.right-img {
  width: 180px;
  height: auto;
  margin-left: 25px;
  border-radius: 110px;
  transition: transform 0.7s ease, color 0.7s ease;
}

.right-img:hover {
  transform: scale(1.1);    
  cursor: pointer;        
  box-shadow: 0 0 10px #a1b6d6, 0 0 40px #488ffa;
}

.motto {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 14px;
  font-style: italic;
  color: #3b3a3a;
}

.nameMotto {
  display: flex;
  flex-direction: column;
  margin-top: 100px; 
}

.name {
  font-family: 'Alice', sans-serif;
  margin: 0;
  margin-left: 15px;
  font-size: 40px;
  font-weight: bold;
}

.profile-row {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.hr-upper {
  border: 2px solid rgb(38, 37, 37); 
  margin-left: 50px; 
  margin-right: 40px;
  margin-top: 5px;
}

.sticker {
  height: 50px;
  width: 50px;
}

.top-navigation {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #8ccbe4, #bce5f2, #8ccbe4);
}

.myProfile {
  font-size: 35px;
  font-family: 'Tangerine', cursive;
  margin: 0;
  font-weight: bold;
}

.shortIntro {
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  margin-left: 80px;
  margin-right: 80px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.navigation {
  font-family: 'Concert One', sans-serif;
  text-decoration: none;
  margin-left: 26px;
  font-size: 20px;
  color: #272727;
  font-weight: 300;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navigation:hover {
  transform: scale(1.1);  
  transition: 1s;  
  cursor: pointer;
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;
  color: #272727;
}

h2 {
  margin-left: 50px;
}

h3 {
  margin-left: 40px;
}

.details {
  font-weight: normal;
  margin-left: 240px;
}

h4 {
  font-size: 25px;
  margin-left: 100px;
  font-weight: normal;
}

.educButton {
  font-family: "Nova Round", system-ui;
  font-size: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #5aa7c0;
  border-radius: 100px;
  transition: transform 0.7s ease, color 0.7s ease;
    
  box-shadow:
    0 3px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
  
.educButton:hover {
  background-image: radial-gradient(#81b9cb, #93bbc9, #d6ebf6); 
  transform: scale(1.08);    
  cursor: pointer;  
}

.educButton a {
  text-decoration: none;
  color: black;
  font-weight: 600;

}

.info-container {
  display: flex;
  gap: 1px;
  padding: 15px;
  margin-left: 5px;
}

.column {
  flex: 1;
}

.column p {
  margin: 5px 0;
  font-size: 17px;
}

.section {
  margin-bottom: 40px;
}

.skills {
  margin-bottom: 40px;
}

.skills_a {
  display: flex;
  gap: 35px;
  font-size: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 60px;
  margin-left: 70px;
}

.skill-A, .skill-B, .skill-C, .skill-D {
  font-family: 'Raleway', sans-serif;
  width: 160px;
  height: auto;
  position: relative;
  display: inline-block;
  color: #000000;
  padding: 15px 15px 15px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 13px rgb(65, 141, 254);
  border: 2px solid rgba(36, 36, 36, 0.3);
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Default text */
.skill-A .default-text, .skill-B .default-text,
.skill-C .default-text, .skill-D .default-text {
  display: block;
  opacity: 1;
  transition: opacity 0.4s ease;
}

/* Hover text (hidden at first) */
.skill-A .hover-text, .skill-B .hover-text,
.skill-C .hover-text, .skill-D .hover-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  cursor: help;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Hover effect 
.skill-A:hover, .skill-B:hover,
.skill-C:hover, .skill-D:hover {           
  transform: scale(1.05);  
} */

.skill-A:hover .default-text, .skill-B:hover .default-text,
.skill-C:hover .default-text, .skill-D:hover .default-text {
  opacity: 0;               /* fade out */
}

.skill-A:hover .hover-text, .skill-B:hover .hover-text,
.skill-C:hover .hover-text, .skill-D:hover .hover-text {
  opacity: 1;               /* fade in */
}

.objective {
  text-align: justify;
  line-height: 1.5;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.obj {
  margin-bottom: 40px;
  margin-right: 40px;
}

.obj_a {
  margin-right: 55px;
  margin-left: 105px;
}

.obj_b {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 13px rgb(65, 141, 254);
  border: 2px solid rgba(36, 36, 36, 0.3);
  border-radius: 8px;
  overflow: hidden;
  color: #000000;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.label {
  display: inline-block;
  width: 120px; 
  font-size: 15px;
  line-height: 1.5;
}

.hobbies {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 60px;
  margin-left: 60px;
}

.hobby-image {
  flex: 1;
  min-width: 190px;
  max-width: 250px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 13px rgb(65, 141, 254);
  border: 2px solid rgba(59, 59, 59, 0.3);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

.hobby-image:hover {
  transform: scale(1.1);
  transition: 2s;
  cursor: copy; 
}

.hobby-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 8px;
}

.hobby-image p {
  margin: 0;
  font-size: 15px;
}

.copyright {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 3px;
}

.switchmode {
  margin-left: 26px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.switchmode:hover {
  transform: scale(1.1);    
  cursor: pointer;
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;
}

.hr-lower {
  border: 1px solid rgb(158, 197, 245)
}

.footerIcon {
  height: 40px;
  width: 40px;
}



/* Dark Mode */
.dark {
  background-image: linear-gradient(#1f1e1e);
  font-family: 'Raleway', sans-serif;
  color: #f0f0f0;
}

.dark h2 {
  font-family: 'Concert One', sans-serif;
  color: #e1dada;
}

.dark .hr-upper {
  border: 2px solid rgb(163, 161, 161); 
  margin-left: 50px; 
  margin-right: 40px;
}

.dark .right-img:hover {
  transform: scale(1.1);    
  cursor: pointer;        
  box-shadow: 0 0 10px #4a5b6e, 0 0 40px #aedddd;
}

.dark .motto {
  margin-top: 15px;
  font-size: 14px;
  font-style: italic;
  color: #c4c4c4;
}

.dark .sticker {
  height: 50px;
  width: 50px;
}

.dark .top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #1f1e1e, #6f6d6d, #1f1e1e);
}

.dark .myProfile {
  font-size: 35px;
  font-family: 'Tangerine', cursive;
  margin: 0;
  font-weight: bold;
  color: #f0f0f0;
}

.dark .navigation {
  font-family: 'Concert One', sans-serif;
  text-decoration: none;
  margin-left: 26px;
  font-size: 20px;
  color: #f0f0f0;
  font-weight: 300;
  transition: transform 0.3s ease, color 0.3s ease;
}

.dark .navigation:hover {
  transform: scale(1.1);  
  transition: 1s;    
  cursor: pointer;     
  text-shadow: 0 0 10px #66a3f8, 0 0 40px #478ffb;   
}

.dark .educButton {
  background: #1d1e1e;
  border: 2px solid #66627f4f;
  border-radius: 100px;
  transition: transform 0.7s ease, color 0.7s ease;
    
  box-shadow:
    0 3px 2.2px rgba(166, 177, 247, 0.034),
    0 6.7px 5.3px rgba(148, 158, 239, 0.034),
    0 12.5px 10px rgba(128, 145, 253, 0.034),
    0 100px 80px rgba(121, 130, 190, 0.034);
}
  
.dark .educButton:hover {
  background-image: radial-gradient(#303030, #303030, #4e595f); 
  transform: scale(1.08);    
  cursor: pointer;  
}

.dark .educButton a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 600;
}

.dark .skill-A, .dark .skill-B, .dark .skill-C, .dark .skill-D {
  font-family: 'Raleway', sans-serif;
  width: 160px;
  height: auto;
  position: relative;
  display: inline-block;
  color: #f0f0f0;
  padding: 15px 15px 15px 15px;
  background-color: #3b3a3a6e;
  box-shadow: 0 0 13px rgb(131, 169, 226);
  border: 2px solid #0000004f;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dark .obj_b {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: #3b3a3a6e;
  box-shadow: 0 0 13px rgb(131, 169, 226);;
  border: 2px solid #0000004f;
  color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.dark .hobby-image {
  flex: 1;
  min-width: 190px;
  max-width: 250px;
  height: auto;
  background-color: #3b3a3a6e;
  box-shadow: 0 0 13px rgb(131, 169, 226);
  border: 2px solid #0000004f;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

.dark .hobby-image p {
  margin: 0;
  font-size: 15px;
  color: #f0f0f0;
}

.dark .switchmode {
  margin-left: 26px;
  border: none;
  color: #f0f0f0;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
}

.dark .hr-lower {
  border: 1px solid rgb(39, 39, 40);
}
